{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login_regist.css') }}">
    <title>{% block title %}登录{% endblock %}</title>
{% endblock %}
<body>
{% block main %}
    <div class="form-container">
        <form class="form-signin" method="POST">
            <h2 class="page-title">请登录</h2>
            <div class="form-group">
                <label for="inputTelephone" class="sr-only">手机号</label>
                <input type="text" id="telephone" class="form-control" placeholder="手机号" required autofocus
                       name="telephone">
            </div>
            <div class="form-group">
                <label for="inputPassword" class="sr-only">密码</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="密码" required
                       name="password">
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" value="remember-me" class="remember-me">记住我
                </label>
                <a href="{{ url_for('regist') }}" class="unregist">还未注册？</a>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
            </div>
        </form>
    </div>
{% endblock %}
</body>
